.table {
    font-family: "Fira Sans", sans-serif;
    border-collapse: collapse;
    font-size: small;
    white-space: normal;
    text-align: Left;
    vertical-align: middle;
  }

.table-wrapper {
    max-width: 100vw;
    overflow: hidden;
  }
  .table tr:hover {background-color: lightgoldenrodyellow;}

  .table tr {
    border-top: 2px solid #bd0000;
    border-bottom: 2px solid #bd0000;
    border-left: 2px solid #bd0000;
    border-right: 2px solid #bd0000;
    
  }
  .table th {
    width: 100%;
    border-top: 2px solid #bd0000;
    border-bottom: 2px solid #bd0000;
    border-left: 2px solid #bd0000;
    border-right: 2px solid #bd0000;
  }
  .table td {    
    width: 100%;
    border-top: 2px solid #bd0000;
    border-bottom: 2px solid #bd0000;
    border-left: 2px solid #bd0000;
    border-right: 2px solid #bd0000;
  }
  .search-input {
    width: 100%;
    border-top: 2px solid #bd0000;
    border-bottom: 2px solid #bd0000;
    border-left: 2px solid #bd0000;
    border-right: 2px solid #bd0000;
  }
  
  .search-input {
    border: none;
    outline: none;
    font-family: "Fira Sans", sans-serif;
  }